<!--Footer first part-->
<div class="container text-center pt-4 pt-md-5">
  <div class="row">
    <div class="col-md-4">
      <a href="index"> <img src="logo/logo-footer.svg" class="img-fluid" alt="schematic of a crystal cell and company name" width="200px"> </a>
      <p class="pt-2 pt-md-3 pb-3 pb-md-0">Two Ph.D. editors with real research experience. We help you maximize the impact of your research.</p>
    </div>
    <div class="col-md-3 col-lg-2">
      <h4 class="text-uppercase">Company</h4>
      <ul class="list-unstyled pt-md-2 pb-3 pb-md-0">
        <li>
          <a href="about.html" class="white" target="_blank">About</a>
        </li>
        <li>
          <a href="#!" class="white" target="_blank">Privacy policy</a>
        </li>
        <li>
          <a href="#!" class="white" target="_blank">Cookie policy</a>
        </li>
        <li>
          <a href="#!" class="white" target="_blank">Terms & conditions</a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block col-lg-2">
      <h4 class="text-uppercase">Services</h4>
      <ul class="list-unstyled pt-md-2">
        <li>
          <a href="services.html" class="white" target="_blank">Editing services</a>
        </li>
        <li>
          <a href="pricing.html" class="white" target="_blank">Pricing</a>
        </li>
        <li>
          <a href="faq.html" class="white" target="_blank">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4">
      <h4 class="text-uppercase">Contact</h4>
      <ul class="list-unstyled pt-md-2 ">
        <li>
          <i class="fa-solid fa-envelope"></i><a href="mailto:daniel@scientificeloquence.com" class="white" target="_blank"> info@scientificeloquence.com</a>
        </li>
        <!--<li>
          <a href="https://www.linkedin.com/" class="white" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i> Follow us</a>
        </li>-->
      </ul>
    </div>
  </div>   
</div>  
 
<hr>
<!--Footer second part-->
<div class="text-center">
  <p> SCIENTIFIC ELOQUENCE &ndash; P.IVA: 02664970031 &ndash; Via Circonvallazione 3, 28016 Orta san Giulio (No), Italy.</p>
</div>


<div class="text-center pt-2 pb-1" style="background-color: rgba(0, 0, 0, 0.3)">
  <p> © 2023 Scientific Eloquence. All Rights Reserved.</p>
</div>